# =========================
# Environment Variables
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env/
.venv/

# =========================
# Vector Database
# =========================
vectorstore/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Streamlit
# =========================
.streamlit/

~$*.docx